services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  web:
    build: .
    ports:
      - "8000:8080"
    volumes:
      - ./staticfiles:/app/staticfiles
      - shared_db:/data
      - shared_media:/app/media
    env_file:
      - .env
    depends_on:
      - redis

  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    volumes:
      - shared_db:/data
      - shared_media:/app/media
    env_file:
      - .env
    depends_on:
      - redis

volumes:
  redis_data:
  shared_db:
  shared_media: